<h2><%= @gig.title %></h2> (<%= @gig.category.name %>)
<h3><%= @gig.promoter %></h3>
<p><%= @gig.description %></p>


<div class="col-md-12">
  <h1> Reviews </h1>
    <%= render @gig.reviews %>
    <%= link_to "Add Reviews", new_gig_review_path(@gig), class: "btn-custom" %>
</div>

<div class="links btn-group">
 <% if user_signed_in? %>
   <% if @gig.user_id == current_user.id %>
      <%= link_to "Edit", edit_gig_path(@gig) %> 
      <%= link_to "Delete", gig_path(@gig), method: :delete, data: {confirm: "Are you sure? "} %> 
    <% end %>
  <% end %>
</div>